<!DOCTYPE html>
<!--incluindo o cabeçalho-->
<%- include('head'); %>

    <body class="container">
        <!--incluindo o cabeçalho-->
        <%- include('header'); %>

            <main>
                <div class="jumbotron">
                    <h1>Lista de Produtos</h1>
                </div>
            </main>

            <!--incluindo o cabeçalho-->
            <%- include('footer'); %>
    </body>

    </html>