<head>
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <meta charset="UTF-8">
    <title>Traz pra Mim</title>

    <!--incluindo o bootstrapcdn-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>