<header>
    <!--chamando as classes do bootstrapcdn para estilizar o menu-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/criando">Criando</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/buscando">Buscando</a>
            </li>

        </ul>
    </nav>
</header>